html {
    font-size: 10px;
    font-family: myfont;
}
body {
    font-size: 1.4rem;
    line-height: 2rem;

}
/* Modifier */
.underline {
    text-decoration: none;
}
/* Block */

/* header */
.header {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: rgb(0,60,113);
    padding: 9px 62px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
/* logoweb */
.logoweb {
    margin-right: 30px;
}
/* nav */
.nav {
    list-style: none;
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.nav__item {
    padding: 20px 13px;
    border-bottom: 2px solid transparent;
}
.nav__item:hover {
    border-bottom: 2px solid #f79321;
    
}
.nav__item:hover >a {
    color: #26ded6;
}
.nav__item:last-child {
    position: relative;
}
.nav__item:last-child:hover > .subnav {
    display: block;
    
}
.nav__item:last-child > i {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
.nav__item > a {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
/* subnav */
.subnav {
    position: absolute;
    top: 65px;
    background-color: rgb(0,60,113);
    width: 150px;
    list-style: none;
    padding: 10px;
    display: none;
    z-index: 5;
}
.subnav__item {
    width: 100%;
    padding: 10px;
}
.subnav__item >a {
    color: #fff;
    text-transform: capitalize;
}
.subnav__item:hover >a {
    color: #ccc;
}
/* login */
.login {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.login:hover >i{
    background-color: rgba(255,255,255,0.8);
}
.login > i {
    border: 2px solid #fff;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 5px;
}
.login__account {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
}
/* hotline */

.hotline__phone {
    font-size: 2.6rem;
    color: #f79321;
    font-weight: bold;
}
.a {
    margin-top: 5px;
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.hotline__time {
    margin-right: 10px;
}
/* banner */
.banner {
    width: 100%;
    margin-top: 65px;
    position: relative;
}
.banner__video {
    object-fit: none;
    
}
.banner__content {
    position: absolute;
    top: 50px;
    left: 62px;
}
.bannner__title {
    font-size: 4rem;
    line-height: 4.4rem;
    color: #fff;
}
.banner__desciption {
    color: #fff;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 15px 0px;
}
.form {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    height: 165px;
    width: 760px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.form input {
    padding: 7px 15px;
    text-transform: capitalize;
    outline-style: none;
}
.form__address {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    margin-bottom: 15px;
}
.form__time {
    width: 50%;
    display: flex;
    margin-right: 15px;
    border: none;
    border-radius: 4px !important;
    position: relative;
}
.form__date {
    width: 50%;
    height: 60px;
    border: none;
}
.form__date:first-child {
    border-right: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
}
.form__date:last-child {
    border-radius: 0px 4px 4px 0px;
}
.time__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(0,0,0,0.3);
}
.form__info {
    width: 33%;
    height: 60px;
    border-radius: 4px;
    border: none;
    margin-right: 15px;
}
.form__btn {
    width: 12.7%;
    text-align: center;
    border-radius: 4px;
    background-color: #f79321;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}
.form__btn:hover {
    background-color: #f9ab52;
}
/*media  */
.media {
    padding: 20px 43px;
    width: 100%;
    height: auto;
    display: flex;
}
.media__item {
    width: 25%;
    padding-left: 25px;
    display: flex;
}
.media__item > img {
    width: 52px;
    height: 52px;
    margin-right: 16px;
}
.media__title {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #000;
    margin-bottom: 6px;
}
.media__descrption {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #4a5568;
}
/* tour sale */
.toursale {
    width: 100%;
    height:auto;
    padding: 48px 65px;
}
.sale {
    width: 100%;
    padding: 12px 0px;
    height: auto;
    display: flex;
    flex-direction:column;
}
.sale__title {
    margin-bottom: 22px;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    color: #2d4271;
}
.sale__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* item */
.sale__item {
    width: calc((100% - 52px)/3);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    text-decoration: none;
    color:#000;
}
.sale__item:hover {
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.15);
    transform: scale(1.02);
    transition: ease 0.3s;
    border:none;
}
/* top */
.sale__item-top {
    position: relative;
    width: 100%;
}
.sale__item-top > img {
    width: 100%;
    border-radius: 3px 3px 0px 0px;
    height: 100%;
    
}
.sale__evaluate > i {
    position: absolute;
    border-color: #ccc;
    border-radius: 8px;
    top: 15px;
    left: 12px;
    font-size: 3rem;
    color: #fff;
}
.sale__point {
    width: 40px;
    height: 25px;
    background-color: #fdc432;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 12px;
}
.value {
    width: 112px;
    height: 67px;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48px;
    right: 12px;
    text-transform: capitalize;
}
.type {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 2px 2px 0px 0px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #4d4aef;
    text-align: center;
    text-transform: capitalize;
}
/* text */
.sale__item-content {
    background-color: #fff;
    padding: 16px;
}
.sale__time {
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: #2d4272;

}
.sale__name {
    margin: 4px 0px;
    color: #2d4272;
    font-weight: 700;
    line-height: 2rem;
    height: 45px;
}
.sale__name:hover {
    color: #4d4aef;
}
.sale__code {
    font-size: 1.5rem;
    line-height: 2.4rem;
}
.sale__start {
    margin: 10px 0px 18px;
    font-size: 1.5rem;
    line-height: 2.4rem;
    display: block;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__left {
    display: flex;
    flex-direction: column;
}
.price__sale {
    font-size: 1.8rem;
    color: #fd5056;
    font-weight: 700;
    line-height: 2.4rem;
}
.price__right {
    padding: 4px;
    border-radius: 5px;
    font-size: 1.1rem;
    line-height: 2.4rem;
    background-color: #fd5056;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.tour__btn {
    margin-top: 10px;
    padding: 8px 16px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #fd5056;
    color: #fff;
    cursor: pointer;
    border: none;
}
.tour__btn:hover {
    background-color: rgba(253,80,86,0.8);
}

.sale__btn {
    padding: 10px 30px;
    border: 1px solid rgb(206,212,222);
    border-radius: 5px;
    color: rgb(45,66,113);
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: capitalize;
    margin-top: 30px;
    max-width: 250px;
    text-align: center;
}
.sale__btn:hover {
    background-color: #ccc;
}
/* special */
.special {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}
.special__list {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.special__title {
    color: #2d4271;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 30px;
    font-weight: 700;
}
.special__item {
    width:100%;
    display: flex;
    margin-bottom: 27px;
}
.special__item > img {
    width: 25%;
    border-radius: 10px 0px 0px 10px;
}
.special__item:hover {
    transform: scale(1.01);
    transition: ease .3s;
}
/* info */
.special__info {
    width: 50%;
    padding: 20px;
    position: relative;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

}
.special__info::after {
    content: "";
    display: block;
    width: 1px;
    height: 85%;
    background-color: #6c757d;
    position: absolute;
    top: 7.5%;
    right: 0;
}
.special__info-combo {
    background-color: #2d4271;
    display:inline-block;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-transform: capitalize;
}
.special__info-name {
    color: #2d4271;
    font-size: 1.5rem;
    margin-bottom: 8px;
    line-height: 2rem;
    font-family: 700;
}
.special__info-name:hover {
    color: #4d4aef;
}
.star {
    margin-bottom: 16px;
    color: #fdc432;
}
.special__info-endow {
    margin-bottom: 20px;
    color: #6c757d;
    font-size: 1.3rem;
    line-height: 2.4rem;
    display: block;
}
.special__info-fb {
    display: flex;
    margin-bottom: 35px;
}
.special__point {
    width: 40px;
    height: 25px;
    background-color: #fdc432;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    margin-right: 8px;
    border-radius: 5px;
}
.special__point::after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fdc432;
    position: absolute;
    bottom: -5px;
    left: -6.5px;
    transform: rotate(135deg);
}
.special__info-cmt {
    font-weight: 700;
    color: #2d4271;
    text-transform: capitalize;
    font-size: 1.5rem;
    line-height: 2rem;
}
.special__info-address {
    color: #4d4aef;
    font-size: 1.2rem;
    line-height: 2.4rem;
}
/* price */
.special__price {
    width: 25%;
    padding-right: 20px;
    text-align: right;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

    
}
.special__price-sum  {
    margin-bottom: 16px;
    line-height: 2.5rem;
    font-weight: 500;
    margin-top: 100px;
}
.special__price-sum > span {
    color: red;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}
.special__price-btn {
    display: flex;
   justify-content: flex-end;
   margin-bottom: 15px;
}
.special__price-btn > button {
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3.2px;
    border: 1px solid ;
    margin-left: 20px;
    text-transform: capitalize;
    cursor: pointer;
}
.special__price-btn > button:last-child {
    background-color: red;
    color: #fff;
}
.special__price-btn > button:last-child:hover {
    background-color: rgba(253,80,86,0.8);
}
.special__price-btn > button:first-child {
    border-color: #4d4aef;
    background-color: #fff;
    color: #4d4aef;
}
.special__price-btn > button:first-child:hover {
    background-color: #4d4aef;
    color: #fff;
}
.special__price > span {
    margin-top: 16px;
    color: #4d4aef;
    font-size: 1.5rem;
    line-height: 2.4rem;
}
/* tour hot */
.tour {
    width: 100%;
    height: auto;
    padding: 20px 65px;
    background-color:rgba(236,240,245,0.5);
    
}
.tour__title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 22px;
    color: #3f3b3b;
}
.tour__slogan {
    color: #717484;
    font-size: 1.7rem;
    margin-bottom: 20px;
    display: block;
}
.tour__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tour__item {
    width: calc((100% - 60px)/3);
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 40px;
    text-decoration: none;
}

.tour__item:hover {
    background-color: rgba(71,194,213,0.2);
    transform: scale(1.05);
    transition: ease .3s;
}
.tour__item-img {
    position: relative;
}
.tour__item-title {
    position: absolute;
    top: 20px;
    left: -10px;
    background-color: red;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: capitalize;
}
.tour__item-title::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 10px solid rgb(156,0,0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 1px;
    transform: rotate(-135deg);
    z-index: -1;
}
.tour__item-img > img {
    width: 100%;
}
/* tour__content */
.tour__content {
    padding: 11px 15px;

}
.tour__content-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #003c71;
    font-weight: 700;
    margin-bottom: 10px;
}
.tour__content-endow {
    margin-bottom: 20px;
    display: flex;
}
.tour__content-schedule > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.tour__content-schedule > ul li {
    width: 45%;
    color: #00abc5;
    font-size: 1.3rem;
    line-height: 1.8rem;

}
.tour__content-price {
    float: right;
    text-align: right;
}
.tour__content-price > del {
    color: rgb(130,130,130);
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2.2rem;
}
.tour__content-price > span {
    display: block;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #f79321;
    font-weight: bold;
}

.tours__btn {
    padding: 10px 20px;
    border: 1px solid rgb(38,190,214);
    background-color: #fff;
    color: rgb(38,190,214);
    font-weight: bold;
    text-transform: capitalize;

}
.tours__btn:hover {
    background-color: rgb(38,190,214);
    color: #fff;

}
/* donors */
.donors {
    width: 100%;
    height: auto;
    padding: 44px 65px;
    background-color: rgb(251,243,247);
}
.donors__title {
    margin-bottom:40px;
    color: #4d4aef;
    font-size:2rem;
    line-height: 2.4rem;
    font-weight:bold;
}
/*list */
.donors__wrapper {
    display: flex;
    justify-content: space-between;
}
.img-big {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.donors__items {
    width: calc((100% - 48px)/4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
   
}
.item--small:hover .items-content {
    display: block;
    animation: itemsIn ease .6s;
}
.item--big:hover .items-content {
    display: block;
    animation: itemsIn ease .6s;
}
.item--small {
    width: 100%;
    height: calc((100% - 24px)/2);
    
}
.img-small {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 64px;
    height: 64px;
    position: absolute;
    background: white;
    border-radius: 8px;
    display: block;
    object-fit: contain;
}
/* items-content  */
.items-content {
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
        left: 0;
        right: 0;
       top: 0;
    background-color: #ff3366;
    color: #fff;
    border-radius: 8px;
    display: none;
}
.items-content > li {
    margin: 6px 0px;
    line-height: 1.9rem;
    font-size:1.4rem;
    font-weight: 500;
}
@keyframes itemsIn {
    from {
        opacity: 0;
        height:0px
    }

    to {
        height:100%;
        opacity: 1;
    }
}
/* favourite */
.favourite {
    width: 100%;
    height: 100vh;
    padding: 44px 65px;
}
.favourite__title {
    color: #1a202c;
    font-size:2.4rem;
    line-height:3rem;
    margin-bottom:8px;
    font-weight:600;
}
.favourite__list {
    width:100%;
    position: relative;

}
.favourite__item {
    display: block;
    border-radius: 50%;
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.favourite__item:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.15);
}
.favourite__item > span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fdfdfd;
    font-weight: 600;
    text-transform:capitalize;
    width: 100px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
}
.favourite__item > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/* item */
.item--1 {
    top: 23px;
    left: 258px;
    width: 163px;
    height: 163px;
} 
.item--2 {
    top: 12px;
    left: 473px;
    width: 266px;
    height: 266px;
}.item--3 {
    top: -20px;
    left: 791px;
    width: 163px;
    height: 163px;
}
.item--4 {
    top: 54px;
    left: 968px;
    width: 163px;
    height: 163px;
}
.item--5 {
    top: 167px;
    left: 0;
    width: 266px;
    height: 266px;
}
.item--6 {
    top: 198px;
    left: 320px;
    width: 163px;
    height: 163px;
}
.item--7 {
    top: 192px;
    left: 769px;
    width: 133px;
    height: 133px;
}
.item--8 {
    top: 259px;
    left: 892px;
    width: 266px;
    height: 266px;
}
.item--9 {
    top: 408px;
    left: 253px;
    width: 133px;
    height: 133px;
}
.item--10 {
    top: 361px;
    left: 421px;
    width: 200px;
    height: 200px;
}
.item--11 {
    top: 310px;
    left: 638px;
    width: 163px;
    height: 163px;
}
.item--12 {
    top: 440px;
    left: 776px;
    width: 133px;
    height: 133px;
}
/* blog */
.blog {
    width: 100%;
    height: auto;
    padding: 56px 65px;
    margin-top: 100px;
}
.blog__title {
    font-size:2.4rem;
    line-height:2.8rem;
    text-align:center;
    font-weight:bold;
}
.blog__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.blog__item {
    width: calc((100% - 72px)/4);
    position: relative;
}
.blog__item:hover::after {
    background-color: rgba(0,0,0,.2);
}
.blog__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.blog__item >img {
    width: 100%;
    height: 100%;
}
.blog__name {
    padding: 20px;
    position: absolute;
    font-size:1.6rem;
    line-height: 2rem;
    font-weight: 600;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 1;
}
/*  contact */
.contact {
    width: 90%;
    margin: 0px auto;
    border: 1px solid #EDF2F7;
    height: auto;
    display:flex;
    padding:20px;
    border-radius:16px;
    background-color:#fff;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 3%);
    align-items:center;
}
.contact__title {
    display:flex;
    align-items: center;
    max-width: 58%;
}
.contact__title > img {
    margin-right:10px;
}
.contact__content {
   flex-grow: 1;
}
.contact__content > h4 {
    font-size: 1.6rem;
    line-height: 2rem;
    color:#000;
    font-weight:600;
    margin-bottom:10px;
}
.contact > form {
    width: 42%;
    padding: 20px;
    display: flex;
}
.contact > form > input {
    flex-grow: 1;
    background-color: #ccc;
    border: none;
    padding: 10px;
    border-radius:10px 0px 0px 10px;
}
.contact__btn {
    padding: 15px;
    border: none;
    background-color: #ff3366;
    color:#fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius:0px 10px 10px 0px;
    cursor: pointer;
}
/* footer */
.footer {
    padding:20px;
    width: 100%;
    height: auto;
    background-color: #2d4271;
}
.footer__list {
    margin-top:20px;
    display:flex;
    color:#fff
}
.footer__list h3 {
    font-size:1.8rem;
    font-weight:500;
    line-height:2rem;
    color:#000;
    margin-bottom: 20px;
}
.footer__address {
    width:50%;
}
.footer__policy {
    width:50%;
}
.footer__policy a {
    font-size:1.4rem;
    line-height:1.8rem;
    color:#fff;
}
.footer__policy li:hover a {
    color:#00abc5;
}