html {
    font-size: 10px;
    font-family: myfont;
}
body {
    font-size: 1.4rem;
    line-height: 2rem;

}
/* Modifier */
.underline {
    text-decoration: none;
}
/* Block */

/* header */
.header {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: rgb(0,60,113);
    padding: 9px 62px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
/* logoweb */
.logoweb {
    margin-right: 30px;
}
/* nav */
.nav {
    list-style: none;
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.nav__item {
    padding: 20px 13px;
    border-bottom: 2px solid transparent;
}
.nav__item:hover {
    border-bottom: 2px solid #f79321;
    
}
.nav__item:hover >a {
    color: #26ded6;
}
.nav__item:last-child {
    position: relative;
}
.nav__item:last-child:hover > .subnav {
    display: block;
    
}
.nav__item:last-child > i {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
.nav__item > a {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
/* subnav */
.subnav {
    position: absolute;
    top: 65px;
    background-color: rgb(0,60,113);
    width: 150px;
    list-style: none;
    padding: 10px;
    display: none;
    z-index: 5;
}
.subnav__item {
    width: 100%;
    padding: 10px;
}
.subnav__item >a {
    color: #fff;
    text-transform: capitalize;
}
.subnav__item:hover >a {
    color: #ccc;
}
/* login */
.login {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
.login:hover >i{
    background-color: rgba(255,255,255,0.8);
}
.login > i {
    border: 2px solid #fff;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 5px;
}
.login__account {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
}
/* hotline */

.hotline__phone {
    font-size: 2.6rem;
    color: #f79321;
    font-weight: bold;
}
.a {
    margin-top: 5px;
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.hotline__time {
    margin-right: 10px;
}
/* banner */
.banner {
    width: 100%;
    margin-top: 65px;
    position: relative;
}
.banner__video {
    object-fit: none;
    
}
.banner__content {
    position: absolute;
    top: 50px;
    left: 62px;
}
.bannner__title {
    font-size: 4rem;
    line-height: 4.4rem;
    color: #fff;
}
.banner__desciption {
    color: #fff;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 15px 0px;
}
.form {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    height: 165px;
    width: 760px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.form input {
    padding: 7px 15px;
    text-transform: capitalize;
    outline-style: none;
}
.form__address {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    margin-bottom: 15px;
}
.form__time {
    width: 50%;
    display: flex;
    margin-right: 15px;
    border: none;
    border-radius: 4px !important;
    position: relative;
}
.form__date {
    width: 50%;
    height: 60px;
    border: none;
}
.form__date:first-child {
    border-right: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
}
.form__date:last-child {
    border-radius: 0px 4px 4px 0px;
}
.time__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(0,0,0,0.3);
}
.form__info {
    width: 33%;
    height: 60px;
    border-radius: 4px;
    border: none;
    margin-right: 15px;
}
.form__btn {
    width: 12.7%;
    text-align: center;
    border-radius: 4px;
    background-color: #f79321;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}
.form__btn:hover {
    background-color: #f9ab52;
}
/*media  */
.media {
    padding: 20px 43px;
    width: 100%;
    height: auto;
    display: flex;
}
.media__item {
    width: 25%;
    padding-left: 25px;
    display: flex;
}
.media__item > img {
    width: 52px;
    height: 52px;
    margin-right: 16px;
}
.media__title {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #000;
    margin-bottom: 6px;
}
.media__descrption {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #4a5568;
}
/* tour sale */
.toursale {
    width: 100%;
    border: 2px solid red;
    height:auto;
}
/* tour hot */
.tour {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}
/* donors */
.donors {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}

/* favourite */
.favourite {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}
/* blog */
.blog {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}
/* feedback */
.feedback {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}
/*  contact */
.contact {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}
/* footer */
.footer {
    width: 100%;
    border: 2px solid red;
    height: 200px;
}